@import "tailwindcss";

:root {
  --headline-letter-spacing: -0.02em;
  --body-letter-spacing: 0em;
  --text-label-letter-spacing: 0.2em;


  --background: #ffffff;
  --foreground: #171717;

  --primary-50: #fdfde9;
  --primary-100: #fafbc6;
  --primary-200: #f9f78f;
  --primary-300: #f5ec55;
  --primary-400: #f0dc1f;
  --primary-500: #e0c312;
  --primary-600: #c19a0d;
  --primary-700: #9a6f0e;
  --primary-800: #805813;
  --primary-900: #6d4816;
  --primary-950: #3f2609;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Heading xl */
.text-heading_xl {
  @apply
  text-[clamp(25px,_calc(25px+5vw), _96px)]
  leading-[1.3]
  font-bold
  tracking-[var(--headline-letter-spacing)];
}

/* Heading lg */
.text-heading_lg {
  @apply
  text-[clamp(18px,_calc(18px+2.1vw), _48px)]
  leading-[1.1]
  font-bold
  tracking-[var(--headline-letter-spacing)];
}

/* Heading md */
.text-heading_md {
  @apply
  text-[clamp(16px,_calc(16px+1.1vw), _32px)]
  leading-[1.1]
  font-bold
  tracking-[var(--headline-letter-spacing)];
}

/* Heading sm */
.text-heading_sm {
  @apply
  text-[clamp(_14px,calc(14px+1vw), _28px)]
  leading-[1.1]
  font-bold
  tracking-[var(--headline-letter-spacing)];
}

/* BODY */

.text-2xl {
  @apply text-[1.5rem] leading-[1.3] tracking-[var(--body-letter-spacing)];
}

.text-xl {
  @apply text-[1.2rem] lg:text-[1.3rem] leading-[1.3] tracking-[var(--body-letter-spacing)];
}

.text-lg {
  @apply text-[1.125rem] leading-[1.3] tracking-[var(--body-letter-spacing)];
}

.text-md {
  @apply text-[1rem] leading-[1.3] tracking-[var(--body-letter-spacing)];
}

.text-sm {
  @apply text-[0.875rem] leading-[1.3] tracking-[var(--body-letter-spacing)];
}

.text-xs {
  @apply text-[0.75rem] leading-[1.3] tracking-[var(--body-letter-spacing)];
}

.text-xxs {
  @apply text-[0.625rem] leading-[1.3] tracking-[var(--body-letter-spacing)];
}

.text-label {
  @apply
  text-[0.875rem]
  leading-[1.3]
  font-bold
  uppercase
  tracking-[var(--text-label-letter-spacing)];
}

section {
  @apply pt-32 pb-48 w-full flex flex-col items-center gap-y-24
}

header {
  @apply flex flex-col gap-y-4 items-center
}